.answer-box {
  background: #e3f7fc;
  color:#555;
  border-radius:10px;
  padding:10px 10px 10px 36px;
  margin:10px;
}

.question-box {
  background: #fffbe1;
  color:#555;
  border-radius:10px;
  padding:10px 10px 10px 36px;
  margin:10px;
  height: 340px;
}

.submit-box {
  background: #e9ffd9;
  color:#555;
  border-radius:10px;
  padding:10px 10px 10px 36px;
  margin:10px;
  text-align: center;
}

.form-box {
  background: #e9ffd9;
  color:#555;
  border-radius:10px;
  padding:10px 10px 10px 36px;
  margin:10px;
  text-align: center;
  height: 323px;

}

::-webkit-input-placeholder {
   text-align: center;
}

a {
  color: #555;
}

a:hover {
  text-decoration: none;
  color: black;
}
